/****************************MAIN SELECTOR****************************/
#mainPage {
  margin: 50px auto 50px 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
h1 {
  /* font-family: 'Ubuntu', sans-serif; */
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
h3 {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}
p {
  color: #8f8f8f;
}
/****************************NAV SELECTOR****************************/

.navbar {
  padding-bottom: 0 0 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light", sans-serif;
}
/****************************TITLE SECTION****************************/
#title {
  background-color: #0d335d;
  padding-left: 150px;
  padding-right: 150px;
  color: white;
  background-image: url("../images/Dorado.jpg");
}
.title-image {
  width: 450px;
  /* left: 55%; */
  /* bottom: 8%; */
  /* transform: rotate(25deg); */
  /* position: absolute; */
}
.container-fluid {
  padding: 3% 15% 7%;
}
.downloadButton {
  margin: 5% 3% 5% 0;
}

/* .downloadIcon{
    color: black;
} */
/****************************FEATURE SECTION****************************/
#features {
  padding: 7% 15%;
  background-color: #fff3e6;
  /* position: relative; */
  /* z-index: 1; */
  /* padding-top: 2rem; */
}
.featureBox {
  text-align: center;
  padding: 5%;
}
.icon {
  display: block;
  text-align: center;
  color: #ef8172;
  size: 4rem;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #ff4c68;
}
.featureLink{
    text-decoration: underline;
    text-decoration-color: #ef8172;
}
/****************************TESTIMONIAL SECTION****************************/
#testimonials {
  text-align: center;
  background-color: #0d335d;
  color: #fff3e6;
}
.testimonial-image {
  width: 70%;
  border-radius: 10%;
  margin: 10px;
}
.carousel-item {
  padding: 7% 15%;
}

/****************************PRESS SECTION****************************/
#press {
  background-color: #0d335d;
  text-align: center;
  /* padding-bottom: 2%; */
}
.pressLogo {
  width: 15%;
  margin: 20px 20px 50px;
}

/****************************PRICING SECTION****************************/
#pricing {
  padding: 100px;
  text-align: center;
  background-color: #fff3e6;
  background-image: url("../images/black-forest.jpg");
}
.pricing-column {
  padding: 2% 2%;
}
#pricing #priceTitle {
  color: white;
}
#pricing .card-header {
  background-color: #0d335d;
  color: white;
}
#pricing .card-body {
  background-color: #1a508b;
  color: white;
}
#pricing p {
  color: white;
}
.marginRight {
  margin: auto auto auto 15%;
}
.marginLeft {
  margin: auto 15% auto auto;
}
#pricing #priceTerms {
  color: white;
}
/****************************download SECTION****************************/
#download {
  background-color: #0d335d;
  padding: 7% 15%;
  text-align: center;
  /* font-family: 'Montserrat', sans-serif; */
  color: #fff3e6;
}
/****************************FOOTER SECTION****************************/
#footer {
  background-color: #fff3e6;
  padding: 7% 15%;
  text-align: center;
}
.footer-icon {
  margin: 20px 10px;
  color: black;
  text-decoration: none;
}
/****************************MOBILE SECTION****************************/
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    /* transform: rotate(0); */
    /* margin-right: 15%; */
  }
}

.hoverText {
  position: relative;
  display: inline-block;
}

.hoverText:hover .hover {
  visibility: visible;
}

.hover {
  visibility: hidden;
  width: 140px;
  background-color: rgba(7, 7, 7, 0.753);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 5px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}
